.primary_btn {
    background-color: blue;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: default;
    text-decoration: none;
}
.secondary_btn{
    background-color: grey;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: default;
    text-decoration: none;
}
.success_btn{
    background-color: green;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: default;
    text-decoration: none;
}
.danger_btn{
    background-color: red;
    color: white;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: default;
    text-decoration: none;
}
.warning_btn{
    background-color: yellow;
    color: black;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: default;
    text-decoration: none;
}
.info_btn{
    background-color: lightskyblue;
    color:black;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: default;
    text-decoration: none;
}
.light_btn{
    background-color: lightcyan;
    color: black;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: default;
    text-decoration: none;
}
.dark_btn{
    background-color: black;
    color: #fff;
    padding: 8px 10px;
    border-radius: 5px;
    border: none;
    cursor: default;
    text-decoration: none;
}
.link{
    text-decoration: underline;
    cursor: pointer;
    color: blue;
    background-color: transparent;
    border: none;
}
